[submodule "frontend"]
	path = frontend
	url = https://github.com/QuantumLogicsLabs/AI-Background-Remover-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/QuantumLogicsLabs/AI-Background-Remover-backend.git
	branch = main
[submodule "AI"]
	path = AI
	url = https://github.com/QuantumLogicsLabs/AI-Background-Remover-AI.git
	branch = main
